* {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 10px;
}

h2 {
  margin-bottom: 10px;
}

.blending-page {
  margin: 0 20px 20px 20px;
}

.gallery {
  margin-bottom: 20px;
}

.desc {
  width: 300px;
  margin-bottom: 10px;
}

.flex-obj {
  margin-top: 20px;
  display: flex;
}

.blending {
  margin: 0 20px;
}
